<!--NOOUTPUT-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="/js/website.js"></script>
<script src="/js/list-ticker.js"></script>

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<if x='$title' equal y='undefined'>
    <title><var name='airline' /></title>
</if>
<if x='$title' notEqual y='undefined'>
    <title><var name='airline' /> : <var name='title' /></title>
</if>