@import 'fonts.scss';

*
{
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Vegur' sans-serif;
}

html
{
    width: 100%;
    height: 100%;
    display: flex;
}

body, .wrapper, .main
{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main
{
    margin: 0 10%;
}

p, a, span
{
    font-size: 2em;
}

h1
{
    font-size: 4.5em;
}