
<footer>
    <h2>Connect With Us:</h2>
    <p>
        <a href="#"> [LINK HERE]
        <img alt="Facebook Icon" src="project\images\facebook.png" width="15" height="15">
        </a>
    </p>
    <p>
        <a href="#"> [LINK HERE]
        <img alt="Instagram Icon" src="project\images\instagram.png" width="15" height="15">
        </a>
        </p>
    <p>
        <a href="#"> [LINK HERE]
        <img alt="Twitter Icon" src="project\images\twitter.png" width="15" height="15">
        </a>
    </p>

    <p>Copyright © 2019 A.C.E Airlines | All Rights Reserved</p>
</footer>

<!--https://www.flaticon.com/authors/pixel-perfect Icon Creator-->
